[MESSAGES CONTROL]
disable=
    invalid-name,
    broad-except,
    invalid-envvar-default,
    too-many-boolean-expressions,
    line-too-long,
    no-else-return,
    consider-using-with,
    no-member,
    too-few-public-methods,
    unnecessary-pass,
    unused-argument