<html>

<head>
    <title>Geolocation Test</title>
</head>

<body>
    <h1>Geolocation Test</h1>
    <form action="/locater" method="post">
        <input type="submit" value="Current Location">
    </form>
    <form action="/geocoder" method="post">
        <input type="text" name="place" placeholder="Street Address, City, State, Zip">
        <input type="submit" value="Search">
    </form>
    {% if currentWeather and weatherImage %}
        <p>The current weather in your area is: {{currentWeather}}</p>
        <img style="height: 50px;width: 50px;"src="{{weatherImage}}" alt="Weather name">
    {% endif %}

</body>

</html>